/* 
General css rules
*/
body {
	background-image: url("../images/bg_gradient.png");
	background-repeat: repeat-x;
	font-family:"lucinda grande",arial,helvetica,sans-serif;
	font-size:12px;
	}


#container{
		position: relative;
		width:1100px;
		margin:0px auto;

		padding:0px;
	}
#column-left{
		position: relative;
		float:left;
		width:850px;
		margin:0px auto;

		padding:0px;
	}
#column-right{
		position: relative;
		float:right;
		width:240px;
		margin:0px auto;

		padding:0px;
		text-align:center;
	}
	
/* Navigation bar */

ul#list-nav {
  margin:0px;
  padding:0;
  list-style:none;
  width:850px;
  
  }
ul#list-nav li {
  display:inline
}
ul#list-nav li a {
 text-decoration:none;
 font-size:2em;
 padding:5px 0;
 width:211px;
 height:30px;
 background:#f2f2f2;
 color:#13642b;
 float:left;
 text-align:center;
 border-left:1px solid #fff;
}


ul#list-nav li a:hover {
  background:#13642b;
  color:#eee
}

ul#user-nav {
  margin:0px;
  padding:0;
  list-style:none;
  width:200px;
  }
  
ul#user-nav li a {
 text-decoration:none;
 display:block;
 font-size:2em;
 padding:5px;
 width:211px;
 height:30px;
 background:#f2f2f2;
 color:#13642b;
 text-align:center;
 border-top:1px solid #fff;
}
ul#user-nav li a:hover {
  background:#13642b;
  color:#eee
}
  
  
#content {
	margin-top:10px;
	padding-bottom:10px;
	}
	
#content div {
	padding:0px;

	float:left;
	}
	
#content-main{
	width:850px;
	height:630px;
	text-align:center;
	font-size:2em;
	color:#13642b;
	}
	
	
#footer {
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	width:1060px;
	height:150px;
	padding:10px;
	background:#f2f2f2;	

	}
	
#footer-info{
	float:left;
	color:#5b5b5b;
	text-align:center;
	width:800px;
	height:150px;

}
#footer-map{
	float:left;
	height:150px;
	width:230px;
}
	
#bottom {
	clear:both;
	text-align:center;
	}